* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  /*      */
  --first-color: #006d77;
  --first-color-hover: #2bcbda;
  --second-color: #cb0104; /* a50104, b20104, #e40105*/
  --third-color: ;
  --body-bg-color-1: #f5e1da;
  --body-bg-color-2: #f6f1ef;
  --body-bg-color-3: #fbf0ea;
  --text-hover: #0d0d0d;
  --btn-hover: #a50104;
  --btn-hover-2: #ea3e41;
  /*      */
  --third-bg-color: black;
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
::-webkit-scrollbar-track {
  background: #f7eee8;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  /* background: #c4421a; */
  background: var(--second-color);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  z-index: 100;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 3.3rem;
  color: var(--first-color);
  font-weight: 600;
  cursor: default;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--second-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.home {
  background: #f5e1da;

  /* background: #d1a697; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 50%;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home .home-content .name {
  font-size: 4.5rem;
  font-weight: 600;
  color: #222;
}

.home .home-content .description {
  font-size: 2.2rem;
  padding-bottom: 35px;
  color: #555;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img {
  /* width: 450px;
  height: 450px;
  background: url(../images/IMG_0169.JPG) no-repeat 50% / contain; */
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #222;
  /* border: none; */
  border-radius: 50%;
  font-size: 2rem;
  color: #222;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: #e0beb1;
  color: #222;
}

.btn {
  align-items: center;
  display: inline-block;
  padding: 10px 25px;
  border: none;
  background: var(--second-color);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  color: #f7f7f7;
  letter-spacing: 0.1rem;
  font-weight: 600;
  outline: none;
  transition: 0.5 ease;
}

.btn-contact {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 40px;
}

.btn-contact:hover {
  background-color: var(--btn-hover);
}
.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background: var(--body-bg-color-2);
}

.about-img .about-pic {
  width: 35vh;
  border-radius: 10px;
  /* width: 200px;
  height: 300px; */
}
/* .about-pic {
  width: 100%;
  height: 100%;
} */

.heading {
  text-align: center;
  font-size: 4.5rem;
  color: #222;
}
.about-content {
  align-items: center;
  justify-content: center;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
  color: #555;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0.3rem;
  color: #222;
}

.skills {
  background-color: var(--body-bg-color-3);
  padding: 80px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container {
  max-width: 1200px;
  width: 100%;
  padding: 10px 20px;
}

.skills-description {
  max-width: 700px;
  margin-bottom: 50px;
}

.skills-description h3 {
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.skill-edu-container {
  max-width: 70%;

  margin: 0 auto;
}

.skills-container {
  margin-bottom: 80px;
}

.skill-edu-container h4 {
  margin-bottom: 20px;
}
.skill-edu-container h4 label {
  background: var(--first-color);
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}

.edu-list .item {
  background: #fff;
  box-shadow: 0px 0px 20px rgb(0 0 0 /10%);
  border-bottom: 3px solid var(--second-color);
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.edu-list .item .year {
  font-size: 1rem;
  margin-bottom: 5px;
}

.edu-list .item p {
  color: #777;
  font-size: 0.9rem;
}

.edu-list .item p span {
  color: #0e2431;
  font-size: 1rem;
  font-weight: 500;
}

.bar {
  background: #fff;
  box-shadow: 0px 0px 20px rgb(0 0 0 /10%);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  transition: 0.3s ease;
  list-style: none;
}

.bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.bar .info span {
  font-weight: 500;
}

.bar .line {
  position: relative;
  width: 100%;
  height: 7px;
  background: #c5cadf;
  border-radius: 2px;
}

.bar .line:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--second-color);
  border-radius: 2px;
  width: 95%;
}

.bar .html:before {
  width: 95%;
}

.bar .css:before {
  width: 95%;
}

.bar .javascript:before {
  width: 95%;
}

.bar .jquery:before {
  width: 80%;
}

.bar .php:before {
  width: 75%;
}

/*========== portfolio*/

.projects {
  background-color: var(--body-bg-color-2);
  /* padding: 30px 25px 60px; */
  padding: 80px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects .heading {
  margin-bottom: 40px;
}

.projects .projects-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects .container .car {
  width: 450px;
  margin: 15px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.projects .container .car img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
}

.projects .container .car .card_body {
  padding: 15px;
}

.projects .container .car .title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 10px;
  text-align: center;
}

.projects .container .car .description {
  font-size: 1.2rem;
  color: #222;
  margin-bottom: 10px;
}

.projects .container .car .card_footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 15px;
}

.projects .container .car .card_footer .tag {
  background-color: #12908e;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.projects .container .car .card_footer .tag a {
  color: #f7f7f7;
  text-decoration: none;
}

.resume {
  background-color: var(--body-bg-color-3);
}

.resume .resume-container {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resume .container h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2.6rem;
}

.resume .container .titles {
  color: #222;
  font-size: 1.8rem;
  font-weight: 600;
}

.email_info,
.linkedin_info,
.location {
  font-size: 1.2rem;
}

.resume .container .text {
  font-size: 1.4rem;
}

.section_s {
  margin-bottom: 25px;
}

.section_s h2 {
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.section_s ul {
  /* list-style: none; */
  padding: 0 0 0 30px;
}

.section_s ul li {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.contact_info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact_info div {
  margin-bottom: 10px;
}

.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footer-text p {
  font-size: 1.6rem;
  color: #f7f7f7;
}
.footer-iconTop {
  display: none;
  text-align: center;

  position: fixed;
  bottom: 65px;
  right: 20px;
  z-index: 100;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.footer-iconTop a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
  z-index: 100;
}
.footer-iconTop.arrow-up {
  opacity: 1;
  visibility: visible;
  display: inline-block;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
  vertical-align: middle;
}

.scroll-up {
  display: none;
  text-align: center;

  position: fixed;
  bottom: 65px;
  right: 20px;
  z-index: 100;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.scroll-up a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background: var(--second-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
  z-index: 100;
}
.scroll-up.visible {
  opacity: 1;
  visibility: visible;
  display: inline-block;
}

.scroll-up a:hover {
  background: var(--btn-hover);
}
.scroll-up a i {
  font-size: 2.4rem;
  color: #f7f7f7;
  vertical-align: middle;
}
